:root{
    --main-color:#009797;
    --sub-color:#F99D29;
  }
  body{
      background-color: #FBFBFB;
  }
  #sub1_1 #main{
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-image: url(../images/sub1_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}
#sub1_1 #main .lnb{
    width: 100%;
    
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    
}

#sub1_1 #main .lnb h1{
    color: white;
    font-size: 50px;
   
}
    /*상단사이드바*/
#sub1_1 #main .container2{
    width: 100%;
    
    height: 50px;
    margin-left: 0;
    margin-top: 74px;
    border: none;
}
#sub1_1 #main .lnb > .container2 > .aside > ul{
    width: 1366px;
    display: flex;
    justify-content: space-between;
    height: 94px;
    margin: 0 auto;
}
#sub1_1 #main .container2 .aside > ul > li{
    list-style-type: none;
    border-right: 1px solid rgb(168, 168, 168);
    width: calc(1366px / 4);
    text-align: center;
    padding: 10px;
    padding-top: 35px;
    background-color: rgba(255,255,255,0.8);
}
#sub1_1 #main .container2 .aside > ul > li:last-child{
    border: none;
}
#sub1_1 #main .container2 .aside > ul > li > a{
    color: #141414;
    font-size: 20px;
}
#sub1_1 #main .container2 .aside > ul > li:hover{
    background-color: rgba(0,0,0,0.6);
    
}
#sub1_1 #main .container2 .aside > ul > li:hover > a{
    color: white;
}
#sub1_1 #main .container2 .aside > ul > li.active{
    background-color: rgba(0,0,0,0.7);
    
}
#sub1_1 #main .container2 .aside > ul > li.active a{ 
    color: white;
    
}
#sub1_1 #main .article{
    width: 1366px;
    margin: 0 auto;
   
    
}
#sub1_1 #main .article .breadCrumb{
    padding-top: 85px;
    text-align: right;
    font-size: 12px;
    margin-right: 30px;
    padding-bottom: 12px;
    
  }
  #sub1_1 #title > .container > .maintitle > h1{
      font-size: 50px;
      padding-top: 70px;
      text-align: center;
      padding-bottom: 45px;
  }
  #sub1_1 #title > .container > .maintitle > .aside2{
      margin-bottom: 100px;
  }
  #sub1_1 #title > .container > .maintitle > .aside2 > ul{
    width: 1366px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0 auto;
}
#sub1_1 #title > .container > .maintitle > .aside2 > ul > li{
    list-style-type: none;
    border: 1px solid rgb(226, 226, 226);
    width: calc(1366px / 3);
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

#sub1_1 #title > .container > .maintitle > .aside2 > ul > li > a{
    color: #141414;
    font-size: 20px;
   
}
#sub1_1 #title > .container > .maintitle > .aside2 > ul > li:hover{
    background-color:var(--main-color);
    
}
#sub1_1 #title > .container > .maintitle > .aside2 > ul > li:hover > a{
    color: white;
}
#sub1_1 #title > .container > .maintitle > .aside2 > ul > li.active{
    background-color: var(--main-color);
    
}
#sub1_1 #title > .container > .maintitle > .aside2 > ul > li.active a{ 
    color: white;
    
} 
#sub1_1 #title > .container > .subtitle{
    text-align: center;
}
#sub1_1 #title > .container > .subtitle > p.sub{
    font-size: 50px;
    padding-bottom: 15px;
}
#sub1_1 #title > .container > .subtitle > h2.main{
    font-size: 55px;
    color: var(--main-color);
    padding-bottom: 45px;
}
#sub1_1 #title > .container > .subtitle > p.subt{
    font-size: 20px;
    padding-bottom: 40px;
}
#sub1_1 #list{
    padding-bottom: 20px;
    
   
}
#sub1_1 #list .container{
    border-bottom: 1px solid #929292;
    
}
#sub1_1 #list .container .col{
    width: 1440px;
    height: 185px;
    background-color: #F2F2F2;
    display: flex;
}
#sub1_1 #list .container .col h1.num{
    font-size: 70px;
    color: var(--main-color);
    padding-left: 50px;
    padding-top: 38px;
}
#sub1_1 #list .container .col p.intro{
    font-size: 20px;
    padding-top: 65px;
    padding-left: 50px;
}
#sub1_1 #list .container .col p.intro > span.green{
    color: var(--main-color);
}

#sub1_1 #list .container .col2{
    width: 1440px;
    height: 185px;
    text-align: right;
    display: flex;
    
    position: relative;
}
#sub1_1 #list .container .col2 h1.num2{
    font-size: 70px;
    color: var(--main-color);
   
    padding-top: 38px;
    position: absolute;
    right: 50px;
}
#sub1_1 #list .container .col2 > p.intro2{
    font-size: 20px;
    padding-top: 65px;
    position: absolute;
    right: 180px;
}
#sub1_1 #list .container .col2 p.intro2 > span.green{
    color: var(--main-color);
}
#sub1_1 #list .container .col2 p.intro2 > span.gray{
    color: rgb(146, 146, 146);
    font-size: 16px;
}
#sub1_1 #list .container .col p.intro > span.gray{
    color: rgb(146, 146, 146);
    font-size: 16px;
}
#sub1_1 #notice{
    height: 409px;
}
#sub1_1 #notice p{
    padding-bottom: 10px;
  
}
#sub1_1 #notice img{
    position: absolute;
    right: 0;
   padding-bottom: 10px;
}
#sub1_4 #main{
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-image: url(../images/sub1_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}
#sub1_4 #main .lnb{
    width: 100%;
    
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    
}

#sub1_4 #main .lnb h1{
    color: white;
    font-size: 50px;
   
}
    /*상단사이드바*/
#sub1_4 #main .container2{
    width: 100%;
    
    height: 50px;
    margin-left: 0;
    margin-top: 74px;
    border: none;
}
#sub1_4 #main .lnb > .container2 > .aside > ul{
    width: 1366px;
    display: flex;
    justify-content: space-between;
    height: 94px;
    margin: 0 auto;
}
#sub1_4 #main .container2 .aside > ul > li{
    list-style-type: none;
    border-right: 1px solid rgb(168, 168, 168);
    width: calc(1366px / 4);
    text-align: center;
    padding: 10px;
    padding-top: 35px;
    background-color: rgba(255,255,255,0.8);
}
#sub1_4 #main .container2 .aside > ul > li:last-child{
    border: none;
}
#sub1_4 #main .container2 .aside > ul > li > a{
    color: #141414;
    font-size: 20px;
}
#sub1_4 #main .container2 .aside > ul > li:hover{
    background-color: rgba(0,0,0,0.6);
    
}
#sub1_4 #main .container2 .aside > ul > li:hover > a{
    color: white;
}
#sub1_4 #main .container2 .aside > ul > li.active{
    background-color: rgba(0,0,0,0.7);
    
}
#sub1_4 #main .container2 .aside > ul > li.active a{ 
    color: white;
    
}
#sub1_4 #main .article{
    width: 1366px;
    margin: 0 auto;
   
    
}
#sub1_4 #main .article .breadCrumb{
    padding-top: 85px;
    text-align: right;
    font-size: 12px;
    margin-right: 30px;
    padding-bottom: 12px;
    
  }

  #sub1_4 #title > .container > .maintitle > .aside2{
      margin-bottom: 100px;
  }
  #sub1_4 #title > .container > .maintitle > .aside2 > ul{
    width: 1366px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0 auto;
}
#sub1_4 #title > .container > .maintitle > .aside2 > ul > li{
    list-style-type: none;
    border: 1px solid rgb(226, 226, 226);
    width: calc(1366px / 3);
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

#sub1_4 #title > .container > .maintitle > .aside2 > ul > li > a{
    color: #141414;
    font-size: 20px;
   
}
#sub1_4 #title > .container > .maintitle > .aside2 > ul > li:hover{
    background-color:var(--main-color);
    
}
#sub1_4 #title > .container > .maintitle > .aside2 > ul > li:hover > a{
    color: white;
}
#sub1_4 #title > .container > .maintitle > .aside2 > ul > li.active{
    background-color: var(--main-color);
    
}
#sub1_4 #title > .container > .maintitle > .aside2 > ul > li.active a{ 
    color: white;
    
}
#sub1_4 #title > .container > .maintitle > h1{
    font-size: 50px;
    padding-top: 70px;
    text-align: center;
    padding-bottom: 45px;
}
#sub1_4 #title > .container > .maintitle >p.subtitle{
    text-align: center;
    font-size: 20px;
    padding-bottom: 100px;
}
#sub1_4 #title > .container > .location{
    margin-top: 60px;
    margin-left: 198px;
    margin-bottom: 210px;
}
#sub1_4 #title > .container > .location > p{
    width: 468px;
    float: left;
    padding-bottom: 20px;
    margin-right: 108px;
}  
#sub3_1 #main{
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-image: url(../images/sub3_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}
#sub3_1 #main .lnb{
    width: 100%;
    
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    
}

#sub3_1 #main .lnb h1{
    color: white;
    font-size: 50px;
   
}
    /*상단사이드바*/
#sub3_1 #main .container2{
    width: 100%;
    
    height: 50px;
    margin-left: 0;
    margin-top: 74px;
    border: none;
}
#sub3_1 #main .lnb > .container2 > .aside > ul{
    width: 1366px;
    display: flex;
    justify-content: space-between;
    height: 94px;
    margin: 0 auto;
}
#sub3_1 #main .container2 .aside > ul > li{
    list-style-type: none;
    border-right: 1px solid rgb(168, 168, 168);
    width: calc(1366px / 4);
    text-align: center;
    padding: 10px;
    padding-top: 35px;
    background-color: rgba(255,255,255,0.8);
}
#sub3_1 #main .container2 .aside > ul > li:last-child{
    border: none;
}
#sub3_1 #main .container2 .aside > ul > li > a{
    color: #141414;
    font-size: 20px;
}
#sub3_1 #main .container2 .aside > ul > li:hover{
    background-color: rgba(0,0,0,0.6);
    
}
#sub3_1 #main .container2 .aside > ul > li:hover > a{
    color: white;
}
#sub3_1 #main .container2 .aside > ul > li.active{
    background-color: rgba(0,0,0,0.7);
    
}
#sub3_1 #main .container2 .aside > ul > li.active a{ 
    color: white;
    
}
#sub3_1 #main .article{
    width: 1366px;
    margin: 0 auto;
   
    
}
#sub3_1 #main .article .breadCrumb{
    padding-top: 85px;
    text-align: right;
    font-size: 12px;
    margin-right: 30px;
    padding-bottom: 12px;
    
  }
  #sub3_1 #title{
      padding-bottom: 40px;
  }
  #sub3_1 #title > .container > .maintitle > h1{
      font-size: 50px;
      padding-top: 70px;
      text-align: center;
      padding-bottom: 45px;
  }
  #sub3_1 #title > .container > .maintitle > .aside2{
      margin-bottom: 100px;
  }
  #sub3_1 #title > .container > .maintitle > .aside2 > ul{
    width: 1366px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0 auto;
}
#sub3_1 #title > .container > .maintitle > .aside2 > ul > li{
    list-style-type: none;
    border: 1px solid rgb(226, 226, 226);
    width: calc(1366px / 3);
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

#sub3_1 #title > .container > .maintitle > .aside2 > ul > li > a{
    color: #141414;
    font-size: 20px;
   
}
#sub3_1 #title > .container > .maintitle > .aside2 > ul > li:hover{
    background-color:var(--main-color);
    
}
#sub3_1 #title > .container > .maintitle > .aside2 > ul > li:hover > a{
    color: white;
}
#sub3_1 #title > .container > .maintitle > .aside2 > ul > li.active{
    background-color: var(--main-color);
    
}
#sub3_1 #title > .container > .maintitle > .aside2 > ul > li.active a{ 
    color: white;
    
} 
#sub3_1 #title > .container > .subtitle{
    text-align: center;
}
#sub3_1 #title > .container > .subtitle > p.sub{
    font-size: 50px;
    padding-bottom: 15px;
}
#sub3_1 #title > .container > .subtitle > h2.main{
    font-size: 55px;
    color: var(--main-color);
    padding-bottom: 45px;
}
#sub3_1 #title > .container > .subtitle > p.subt{
    font-size: 20px;
    
}
#sub3_1 #best .container .smalltitle{
    padding-left: 50px;
    display: flex;
    padding-bottom: 57px;
}
#sub3_1 #best .container .smalltitle p.stitle{
    font-size: 30px;
    padding-right: 30px;
}
#sub3_1 #best .container .smalltitle p.more {
    margin-top: 18px;
}
#sub3_1 #best .container .smalltitle p.more a{
    font-size: 14px;
    color: var(--main-color);
    font-weight: bold;
    
}
#sub3_1 .lists{
    margin-left: 50px;
    display: flex;
    margin-bottom: 40px;
}
#sub3_1 .lists:last-child{
    margin-bottom: 0;
}
#sub3_1 .lists .col{
    width: 427px;
    height: 514px;
    text-align: center;
    border: 1px solid #9C9C9C;
    margin-right: 33px;
}
#sub3_1 .lists .col img{
    width: 425px;
    height: 315px;
}
#sub3_1 .lists .col p.name{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}
#sub3_1 .lists .col p.delivery{
    font-size: 16px;
    color: var(--main-color);
    padding-bottom: 15px;
}
#sub3_1 .lists .col p.pre{
    font-size: 15px;
    padding-bottom: 8px;
}
#sub3_1 .lists .col p.now{
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
}
#sub3_1 .lists .col .salenow{
    display: flex;
    margin-left: 175px;
}
#sub3_1 .lists .col p.sale{
    font-size: 15px;
    width: 55px;
    height: 28px;
    background-color: var(--sub-color);
    border-radius: 50px;
    color: white;
    padding-top: 3px;
}
#sub3_1 #exclamation{
    margin-top: 60px;
    margin-bottom: 80px;
}
#sub3_1 #exclamation .container h4{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
#sub3_1 #exclamation .container h4 i{
    margin-right: 15px;
}
#sub3_1 #exclamation .container .notice{
    margin-left: 84px;
    font-size: 17px;
    line-height: 30px;
}
#sub3_1 #exclamation .container .notice .two{
    margin-top: 20px;
}
#sub3_1 #exclamation .container .notice .two .orange{
    color: var(--sub-color);
    font-weight: bold;
}